<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Actualizar Viaje</title>

    <link rel="stylesheet" th:href="@{/css/tripsForm.css}">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
</head>


<body>

<nav class="navbar">

    <div class="navbar-brand">
        <a th:href="@{/trips}">
            Wonderboot
        </a>
    </div>

    <div class="navbar-actions">

        <a th:href="@{/profile}">
            Mi perfil
        </a>

        <form th:action="@{/logout}" method="post">
            <button type="submit">
                Cerrar sesión
            </button>
        </form>

    </div>

</nav>


<div class="trip-form-container">

    <h1>Actualizar viaje</h1>


    <!-- =========================
         FORMULARIO DEL VIAJE
         ========================= -->

    <form th:action="@{/trips/update/{id}(id=${trip.id})}"
          method="post">

        <input type="hidden"
               name="id"
               th:value="${trip.id}">


        <!-- =========================
             INFORMACIÓN DEL VIAJE
             ========================= -->

        <section>

            <h2>Información del viaje</h2>

            <div class="form-group">

                <label for="name">
                    Nombre del viaje
                </label>

                <input type="text"
                       id="name"
                       name="name"
                       th:value="${trip.name}"
                       required>

            </div>

        </section>


        <!-- =========================
             CIUDADES
             ========================= -->

        <section>

            <h2>Ciudades</h2>

            <div id="cities">

                <div class="city"
                     th:each="city, i : ${trip.cities}"
                     th:attr="data-city-name=${city.city}">

                    <div class="form-group">
                        <label th:for="'city-' + ${i.index}">
                            Ciudad
                        </label>
                        <select th:id="'city-' + ${i.index}"
                                th:name="'cities[' + ${i.index} + '].city'"
                                class="city-dropdown"
                                required>
                            <option></option>
                        </select>
                    </div>


                    <div class="form-group">

                        <label th:for="'startDate-' + ${i.index}">
                            Fecha de inicio
                        </label>

                        <input type="date"
                               th:id="'startDate-' + ${i.index}"
                               th:name="'cities[' + ${i.index} + '].startDate'"
                               th:value="${city.startDate}">

                    </div>


                    <div class="form-group">

                        <label th:for="'endDate-' + ${i.index}">
                            Fecha de fin
                        </label>

                        <input type="date"
                               th:id="'endDate-' + ${i.index}"
                               th:name="'cities[' + ${i.index} + '].endDate'"
                               th:value="${city.endDate}">

                    </div>


                    <div class="form-group">

                        <label th:for="'expenses-' + ${i.index}">
                            Gastos
                        </label>

                        <input type="number"
                               th:id="'expenses-' + ${i.index}"
                               th:name="'cities[' + ${i.index} + '].expenses'"
                               th:value="${city.expenses}"
                               min="0"
                               step="0.01">

                    </div>


                    <button type="button"
                            class="remove-city">

                        Eliminar ciudad

                    </button>

                </div>

            </div>


            <button type="button"
                    id="add-city"
                    class="add-city">

                + Añadir ciudad

            </button>

        </section>


        <!-- =========================
             GUARDAR
             ========================= -->

        <button type="submit"
                class="submit-button">

            Guardar viaje actualizado

        </button>

    </form>


    <!-- =========================
         ELIMINAR VIAJE
         ========================= -->

    <form class="delete-form"
          th:action="@{/trips/delete/{id}(id=${trip.id})}"
          method="post">

        <button type="submit"
                class="delete-button">

            Eliminar viaje

        </button>

    </form>


    <!-- =========================
         CANCELAR
         ========================= -->

    <a class="cancel-link"
       th:href="@{/trips}">

        Cancelar

    </a>

</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script th:inline="javascript">

    let cityIndex = /*[[${trip.cities.size()}]]*/ 0;


    /* =========================
       SELECT2
       ========================= */

    function initializeCitySelect(select) {

        $(select).select2({

            width: '100%',

            minimumInputLength: 1,

            allowClear: true,

            placeholder: 'Selecciona una ciudad',

            dropdownParent: $('.trip-form-container'),

            ajax: {

                url: '/api/cities',

                dataType: 'json',

                delay: 250,

                data: function (params) {

                    console.log("Buscando:", params.term);

                    return {
                        term: params.term
                    };

                },

                processResults: function (data) {

                    console.log("Respuesta API:", data);

                    return {

                        results: data.map(function (city) {

                            return {

                                id: city.name,

                                text: city.name

                            };

                        })

                    };

                }

            }

        });

    }


    /* =========================
   INICIALIZAR CIUDADES EXISTENTES
   ========================= */

document.querySelectorAll(".city-dropdown")
    .forEach(function (select, index) {
        const cityDiv = select.closest('.city');
        const cityName = cityDiv.getAttribute('data-city-name');

        initializeCitySelect(select);

        if (cityName && cityName !== '') {
            const option = new Option(cityName, cityName, true, true);
            select.appendChild(option);
            $(select).trigger("change");
        }
    });


    /* =========================
       AÑADIR CIUDAD
       ========================= */

    document.getElementById("add-city")
        .addEventListener("click", function () {

            const cities =
                document.getElementById("cities");


            const currentIndex =
                cityIndex;


            const city =
                document.createElement("div");

            city.classList.add("city");


            city.innerHTML = `

                <hr>

                <div class="form-group">

                    <label for="city-${currentIndex}">
                        Ciudad
                    </label>

                    <select
                        id="city-${currentIndex}"
                        name="cities[${currentIndex}].city"
                        class="city-dropdown"
                        required>

                        <option></option>

                    </select>

                </div>


                <div class="form-group">

                    <label for="startDate-${currentIndex}">
                        Fecha de inicio
                    </label>

                    <input
                        type="date"
                        id="startDate-${currentIndex}"
                        name="cities[${currentIndex}].startDate">

                </div>


                <div class="form-group">

                    <label for="endDate-${currentIndex}">
                        Fecha de fin
                    </label>

                    <input
                        type="date"
                        id="endDate-${currentIndex}"
                        name="cities[${currentIndex}].endDate">

                </div>


                <div class="form-group">

                    <label for="expenses-${currentIndex}">
                        Gastos
                    </label>

                    <input
                        type="number"
                        id="expenses-${currentIndex}"
                        name="cities[${currentIndex}].expenses"
                        min="0"
                        step="0.01">

                </div>


                <button
                    type="button"
                    class="remove-city">

                    Eliminar ciudad

                </button>

            `;


            cities.appendChild(city);


            initializeCitySelect(
                city.querySelector(".city-dropdown")
            );


            cityIndex++;

        });


    /* =========================
       ELIMINAR CIUDAD
       ========================= */

    document.addEventListener("click", function (event) {

        if (!event.target.classList.contains("remove-city")) {
            return;
        }


        const allCities =
            document.querySelectorAll(".city");


        /*
         * No permitimos eliminar
         * la última ciudad.
         */

        if (allCities.length <= 1) {
            return;
        }


        const city =
            event.target.closest(".city");


        const select =
            city.querySelector(".city-dropdown");


        /*
         * Destruir Select2 antes
         * de eliminar el elemento.
         */

        if ($(select).hasClass("select2-hidden-accessible")) {

            $(select).select2("destroy");

        }


        city.remove();


        updateIndexes();

    });


    /* =========================
       ACTUALIZAR ÍNDICES
       ========================= */

    function updateIndexes() {

        const cities =
            document.querySelectorAll(".city");


        cities.forEach(function (city, index) {

            const citySelect =
                city.querySelector(".city-dropdown");

            const startDate =
                city.querySelector("input[name$='.startDate']");

            const endDate =
                city.querySelector("input[name$='.endDate']");

            const expenses =
                city.querySelector("input[name$='.expenses']");


            citySelect.name =
                `cities[${index}].city`;

            startDate.name =
                `cities[${index}].startDate`;

            endDate.name =
                `cities[${index}].endDate`;

            expenses.name =
                `cities[${index}].expenses`;

        });

    }

</script>

</body>
</html>